Kütüphanelerin import edilmesi

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

**Veriler.csv** dosyasının import edilmesi

In [ ]:
pd.read_csv("Veriler.csv")

         Adi Soyadi  Yas      Bolumu Mezuniyet
0        Cemal Kara   40  Bilgisayar     Hayir
1      Cemile Aksoy   27    Cografya      Evet
2  Mehtap Karakelle   30    Elektrik     Hayir
3        Senay Kara   38  Bilgisayar      Evet

In [ ]:
dataset=pd.read_csv("Veriler.csv")

In [ ]:
dataset

         Adi Soyadi  Yas      Bolumu Mezuniyet
0        Cemal Kara   40  Bilgisayar     Hayir
1      Cemile Aksoy   27    Cografya      Evet
2  Mehtap Karakelle   30    Elektrik     Hayir
3        Senay Kara   38  Bilgisayar      Evet

In [ ]:
type(dataset)

pandas.core.frame.DataFrame

iloc kullanımı [satır, sutun] 

Tüm satır ve sütünlar seçilecekse **[:,:]** kullanılır

In [ ]:
x=dataset.iloc[:,:]

In [ ]:
x

         Adi Soyadi  Yas      Bolumu Mezuniyet
0        Cemal Kara   40  Bilgisayar     Hayir
1      Cemile Aksoy   27    Cografya      Evet
2  Mehtap Karakelle   30    Elektrik     Hayir
3        Senay Kara   38  Bilgisayar      Evet

Tüm satır ve son sütünü alarak **dizi** olarak tanımlanması

In [ ]:
x=dataset.iloc[:,:-1].values

In [ ]:
x

array([['Cemal Kara', 40, 'Bilgisayar'],
       ['Cemile Aksoy', 27, 'Cografya'],
       ['Mehtap Karakelle', 30, 'Elektrik'],
       ['Senay Kara', 38, 'Bilgisayar']], dtype=object)

In [ ]:
type(x)

numpy.ndarray

In [ ]:
x=dataset.iloc[:,-1].values

In [ ]:
x

array(['Hayir', 'Evet', 'Hayir', 'Evet'], dtype=object)